body {
    background-color: #242428;
}

* {
    margin: 0;
    padding: 0;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

hr {
    margin: 1rem 0;
    color: #383838;
    border: 0;
    border-top: 1px solid;
}

h4 {
    margin-bottom: 10px;
}

ul {
    margin: 10px 0;
}

li {
    list-style-position: inside;
}

.align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.mr-10 {
    margin-right: 10px;
}

.header {
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    width: 100vw;
    height: 50px;
    background-color: #080808;
    line-height: 50px;
}
.header-wrapper {
    max-width: 1000px;
    padding: 0 50px;
    margin: auto;
    font-size: 20px;
    color: #ffffff;
}
.btn-about {
    background: none;
    border: none;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
    transition: .1s;
}
.btn-about:hover,
.btn-about:focus {
    color: #7effa5;
}
.block-about {
    position: fixed;
    top: 50px;
    right: -400px;
    max-width: 400px;
    height: calc(100vh - 50px);
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: #080808;
    color: #eeeeee;
    user-select: none;
    overflow: auto;
    transition: .3s;
    z-index: 2;
}
.block-about.active {
    right: 0;
}
.block-about__title {
    font-size: 20px;
}
.github-icon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    background-image: url('https://github.githubassets.com/favicons/favicon-dark.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.link-to-github-repository-wrapper {
    margin: 5px 0;
}
.project-tools:hover {
    text-decoration: underline;
}
.project-tools {
    color: #808080;
}

.control-panel {
    margin-top: 50px;
    padding: 0 50px;
}
.input-board-size {
    margin: 15px;
    padding: 8px;
    height: max-content;
    background: none;
    border: none;
    border-bottom: 1px solid #080808;
    color: #7effa5;
}
.input-board-size:hover,
.input-board-size:focus {
    border-bottom: 1px solid #7effa5;
}
.btn {
    margin: 15px;
    padding: 10px 15px;
    background: none;
    background-color: #080808;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s;
}
.btn:hover, .btn:focus {
    color: #7effa5;
    box-shadow: 0 0 8px #285134;
}

.timer-wrapper {
    min-width: 135px;
}
.label-timer {
    font-size: 10px;
    color: #777;
}
.timer {
    font-size: 42px;
}
.timer::after {
    content: 'ms';
    font-size: 10px;
    color: #777;
}

.board-wrapper {
    margin: auto;
    max-width: max-content;
}
.board {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.row {
    display: flex;
}
.cell {
    min-width: 20px;
    min-height: 20px;
    background-color: #080808;
    border-radius: 10px;
}
.life {
    background-color: #7effa5;
}
